[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=C3Viewer
Exec=/usr/bin/single-instance /opt/C3Viewer/bin/C3Viewer
Icon=/usr/share/icons/hicolor/80x80/apps/C3Viewer80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
